body {
    padding: 20px;
}


.lower-canvas {
    /* border-radius */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.button:hover {
    background-color: rgb(226, 76, 101) !important;
    opacity: 1 !important;
    /* color: darkgrey !important; */
}

.footer {
    /* position: fixed; */
    /* left: 0; */
    margin-top: 15%;
    bottom: 0;
    width: 100%;
    text-align: center;
}